*{
    margin: 0;
}
header {
    background-color: rgb(236, 193, 138);
    text-align: center;
    display: block;
    margin: 0;
    padding: 5vh 5vw 5vh 5vw;
}
body {
    background-color: bisque;
}
h2{
  padding: 2vh 2vw 2vh 2vw;
}
main {
    flex-flow:column;  
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
footer {
    background-color: bisque;
}
#tcontainer {
    position: fixed;
    display: block;
    height: 2px;
    width: 100vw;
    top: 0;
    left: 0;
}
#tbar {
    display: block;
    height: 2px;
    width: 50vw;
    background-color: blue;
}

a, button{
    margin:1px;
    text-decoration:none;
    border:none;
    background-color: antiquewhite;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 15px;
}
